.board {
  display: grid;
  margin-top: 2vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); 
  gap: 1px;
  width: calc(min(80vw, 80vh));
  height: calc(min(80vw, 80vh));
  min-width: 500px;
  min-height: 500px;
  max-width: 1800px;
  max-height: 1800px;
}

.square {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover, cover, 50%;
  background-position: center, center, center;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 0 0 0 4px black;
  position: relative;
}

.square::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; 
  width: 100%;
  height: 100%;
  pointer-events: none; 
  box-shadow: inset 0 0 0 5px blue; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}

.square.shadow-on::after {
  opacity: 1; 
}

.square.highlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 0 5px yellow;
}



.health-bar-container {
  width: 100%;
  height: 15%;
  background-color: #eee;
  position: relative; 
  overflow: hidden; 
  color: black;
}

.health-bar-block {
  position: absolute;
  top: 0;
  left: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: lightgray;
  padding: 0 5px;
}

.health-bar-fill {
  background-color: #f00; 
  height: 100%;
  width: 0; 
  transition: width 0.3s ease-in-out; 
}

.health-bar-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; 
  font-weight: bold;
}

.unit-name {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; 
  font-weight: bold;
}

.square-name {
  position: absolute;
  bottom: 0;
  left: 5%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; 
  font-weight: bold;
}