.die {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 1px;
}

.die.dead {
    opacity: 0.5;
}

.dice {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.face {
    height: calc(min(40vw, 80vh) / 18);
    width: calc(min(40vw, 80vh) / 18);
    outline: 1px solid black;
    background-color: gray;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

.face.active {
    box-shadow: 0 0 0 4px red inset;  
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}