.vertical-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.horizontal-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.player-info-container {
    background-color: darkblue;
    color: white;
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    text-align: center;
    text-wrap: nowrap;
    padding: 10px;
    align-items: center;
}

.intent {
    text-align: center;
}